<h1>This is a new Article</h1>

<%# 'f' here is the FormBuilder object %>
<%= form_for :article, url: articles_path do |f| %> 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %> 
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_field :text %> 
  </p>

  <p>
    <%= f.submit %><br> 
  </p>
<% end %>